<!DOCTYPE html>
<li class="dropdown" id="login" xmlns:th="http://www.thymeleaf.org" style="z-index: 1">
  <a  th:if="${user==null}" href="/login" id="admin" style="color:white">
    <i class="fa fa-user fa-fw"></i>
    Login-admin
  </a>
  <a th:if="${user!=null}" class="dropdown-toggle" data-toggle="dropdown" href="#" style="z-index: 1;color:white">
    <i class="fa fa-user fa-fw"></i>
    <span th:text="${user.username}"></span>
    <i class="fa fa-caret-down"></i>

  </a>
  <ul th:if="${user!=null}" class="dropdown-menu dropdown-user" style="z-index: 1">

    <input type="hidden" th:value="${user.username}" id="username"/>
    <li>
      <form id="logoutForm" th:action="@{/logout}" method="post">
        <a href="javascript:{}"
           onclick="document.getElementById('logoutForm').submit();return false;"><i
          class="fa fa-sign-out fa-fw"></i> Logout</a>
      </form>
    </li>
  </ul>
</li>