<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org">
  <div class="container" id="kon">
    <div class="row">
    <div class="col-md-8">
      <div class="text-danger" th:text="${error}"></div>
      <form th:action="@{/doLogin}" method="POST">
        <fieldset class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" id="username"> </input>
        </fieldset>
        <fieldset class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password"/>
        </fieldset>
        <div class="form-group row" style="margin-bottom: 10px;">
          <div class="col-md-offset-10 col-md-2">
            <input type="submit" value="Login" class="btn btn-primary"/>
          </div>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>